doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Pearson
    //- link (rel="preload" href="fonts/roboto-medium.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.min.css")
  body
    include ../modules/header

    main(class="content-page")
      div(class="content-page__cover")
        img(src="", alt="image de titre")
      h1
      p
      div(class="content-page__important important")
      p
      section(class="content-page__provoke provoke")
      section(class="content-page__infographics infographics")
      div(class="content-page__media media")

    include ../modules/footer
    
    script(src="js/script.js")
