doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Pearson
    //- link (rel="preload" href="fonts/roboto-medium.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.min.css")
  body
    include ../modules/header

    main(class="landing-page")
      section(class="landing-promo")
      div(class="important")
      section(class="promo-slider")
      section(class="product")
      section(class="landing-media")
      sectio(class="additional")
      section(class="provoke")

    include ../modules/footer
    div(class="form")
    script(src="js/script.js")
