@mixin play-button {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: $white;
  border-radius: 50%;
  border: none;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border: 15px solid;
    border-width: 15px 15px 15px 25px;
    position: absolute;
    left: 55%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    border-color: transparent;
    border-left-color: $green;
    border-right: none;
    
  }
}