
.content-reviews {
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.content-reviews__wrap {
  background-color: $white;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
  margin-bottom: 50px;
}

.content-reviews__title {
  margin: 0 auto;
  text-align: center;
  max-width: 310px;
  margin-bottom: 60px;
  font-size: 28px;
  font-family: $font-accent;
  font-weight: 400;
}

.content-reviews__wrap-img {
  margin-bottom: 30px;
  width: 100%;
  & img {
  width: 100%;
  }
}

.content-reviews__wrap-desc {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;

  & img {
    width: 78px;
  }
}

.content-reviews__desc-title {
  font-size: 24px;
  font-family: $font-accent;
  font-weight: 400;
  line-height: 32px;
}

.content-reviews__desc-desc {
  margin-bottom: 30px;
}

.content-reviews__more {
  text-transform: uppercase;
  font-weight: 600;
  color: $green;
}

@media (min-width: $tablet-width) {
  .content-reviews {
    padding-left: 50px;
    padding-right: 50px;
  }

  .content-reviews__title {
    max-width: 500px;
  }

  .content-reviews__wrap {
    display: flex;
  }

  // .content-reviews__wrap-img {
  //   flex-basis: 300px;
  //   margin-bottom: 0;
  //   img {
  //     // height: 100%;
  //     // width: auto;
  //   }
  // }

  .content-reviews__wrap-desc {
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
}


