.home-page {
  background-color: #f4f4f4;
  .provoke__item--video,
  .provoke__item--external {
    display: none;
  }

  & .landing-promo__wrap--landing {
    display: none;
  }

  @media (min-width: $tablet-width) {
    .wheel-promo__item {

      &:hover,
      &:focus {
        & .wheel-promo__tooltip {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .home-page__content-reviews {
    padding-left: 0;
    padding-right: 0;
  }

}