.landing-promo {
  background-image: url(../img/home-page/home-cover-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -65px;
  padding: 35px;
  padding-top: 40px;
}

.landing-promo__highlight {
  color: $green;
}

.landing-promo__desc {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #474747;
}

.landing-promo__btn {
  @include btn;
  max-width: 145px;
  margin-right: 5px;
  
  &--blue {
    background-color: $blue-dark;
  }
  &--green {
    background-color: $green;
  }
}

.landing-promo__wrap-homo,
.landing-promo__wrap-landing {
  margin-bottom: 30px;
}

.landing-promo__title {
  font-size: 36px;
  font-weight: 400;
  color: #474747;

  @media (min-width: 560px) {
    max-width: 490px;
  }
}

.landing-promo__wrap-homo {
  & a {
    background-color: $green;
  }
  & button {
    background-color: $blue-dark;
  }
}

.landing-promo__wrap-landing {
  & a {
    background-color: $blue-dark;
  }
  & button {
    background-color: $green;
  }
}

.landing-promo__wrap-buttons {
  max-width: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.landing-promo__wheel {
  padding: 0;
  margin: 0;
}