.landing-promo {
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.landing-promo__wrap {
  padding-top: 50px;
  padding-bottom: 50px;

  &--landing {
    position: relative;

    .wheel-promo__tooltip {
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      margin-bottom: 20px;
    }
  }
}

.landing-promo__highlight {
  color: $green;
}

.landing-promo__desc {
  margin-top: -5px;
  margin-bottom: 30px;
  color: #474747;
}

.landing-promo__btn {
  @include btn;
  max-width: 145px;
  margin-right: 5px;

  &--blue {
    background-color: $blue-dark;
  }

  &--green {
    background-color: $green;
  }
}

.landing-promo__wrap {
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;

  img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .2;

    @media (min-width: 600px) {
      left: 70%;
    }

    @media (min-width: 900px) {
      left: 50%;
      width: 90%;
      height: auto;
    }
  }
}

.landing-promo__title {
  position: relative;
  font-family: $font-main;
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  color: #474747;
  margin-top: 0;

  @media (min-width: 560px) {
    max-width: 490px;
  }
}

.landing-promo__desc {
  max-width: 320px;
}

.landing-promo__wrap-buttons {
  position: relative;
  max-width: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.landing-promo__wheel {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .landing-promo {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
  }

  .landing-promo__title {

    .landing-page & {
      padding-top: 0;
    }
  }

  .landing-promo__wrap--landing {
    .wheel-promo__tooltip {
      width: auto;
      text-align: center;
      max-width: 300px;
      display: block;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  .landing-promo__desc {
    max-width: 550px;
    margin-top: -17px;
    margin-bottom: 50px;
  }

  .landing-promo__wrap {
    width: 60%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .landing-promo__wheel {
    width: 40%;
  }

  .landing-promo__wrap-buttons {
    max-width: 460px;
    flex-wrap: wrap;
  }

  .landing-promo__btn {
    max-width: none;
    max-width: 213px;
  }
}

@media (min-width: 1250px) {

  .landing-promo__desc {
    font-size: 18px;
    margin-top: -26px;
  }

  .landing-promo__title {
    max-width: 668px;
    font-size: 52px;
    line-height: 71px;
  }
}

@media (min-width: 1650px) {
  .landing-promo {
    padding-top: 165px;
    padding-bottom: 165px;
  }
}