h2(class="visually-hidden") information supplémentaire
div(class="additional__wrap")
  h3 Idéal pour les étudiants
  p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
div(class="additional__wrap")
  h3 Un autre point très important à dire
  p Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?