h2 Pearson c’est
ul(class="advantage__list")
  li
    span 3,456
    h3 Ouvrages HE & Business
    p en toutes les matières économie, gestion, sciences, comptabilité, etc.
  li
    span 100k
    h3 Ressources numérques
    p en toutes les matières économie, gestion, sciences, comptabilité, etc.
  li
    span 30,456
    h3 Etudiants connectés
    p en toutes les matières économie, gestion, sciences, comptabilité, etc.
  li
    span 3,456
    h3 Information clée
    p en toutes les matières économie, gestion, sciences, comptabilité, etc.
  li
    span 100k
    h3 Solutions sur-mesures
    p en toutes les matières économie, gestion, sciences, comptabilité, etc.
  li
    span 30,456
    h3 Produits numériques
    p en toutes les matières économie, gestion, sciences, comptabilité, etc.