ul(class="content-slider__list")
  li(class="content-slider__item")
    article
      img(src="img/home-page/content-1.jpg" alt="Content 1")
      div(class="content-slider__wrap-desc")
        h2 Content 1
        p Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
        a(href="content.html") En savoir plus
  li(class="content-slider__item")
    article
      img(src="img/home-page/content-2.jpg" alt="Content 2")
      div(class="content-slider__wrap-desc")
        h2 Content 2
        p Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
        a(href="content.html") En savoir plus
  li(class="content-slider__item")
    article
      img(src="img/home-page/content-3.jpg" alt="Content 3")
      div(class="content-slider__wrap-desc")
        h2 Content 3
        p Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
        a(href="content.html") En savoir plus
  li(class="content-slider__item")
    article
      img(src="img/home-page/content-3.jpg" alt="Content 3")
      div(class="content-slider__wrap-desc")
        h2 Content 3
        p Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
        a(href="content.html") En savoir plus
  div(class="content-slider__wrap-pointer")
    span(class="content-slider__pointer content-slider__pointer--active")
    span(class="content-slider__pointer")
    span(class="content-slider__pointer")
    span(class="content-slider__pointer")
    