h2 Découvrez les cas de nos clients
div(class="content-reviews__wrap content-reviews__wrap--left")
  img(src="img/home-page/logo-emlyon-red.png" width="78" alt="logo emlyon")
  h3 Solutions sur-mesures pour EM Lyon
  p Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
  a(href="content.html") Learn more
div(class="content-reviews__wrap content-reviews__wrap--right")
  img(src="img/home-page/logo-mbs-dark.svg" width="78" alt="logo emlyon")
  h3 Offre numérique pour Montpellier BS
  p Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
  a(href="content.html") Learn more