div(class="form form--contact form--close")
  div(class="form__wrap-center")
    div(class="form__wrap")
      h2(class="form__title") Laissez vos coordonnées
      p(class="form__desc") Nous vous contacterons pour 
      form(class="form__form" action="POST" autocomplete="off")
        label(class="visually-hidden" for="contact-form-name") Votre Nom
        input(class="invalid" type="text" id="contact-form-name" name="name" placeholder="Votre Nom")
        
        label(class="visually-hidden" for="contact-form-surname") Votre Prénom
        input(type="text" id="contact-form-surname" name="surname" placeholder="Votre Prénom")
        
        label(class="visually-hidden" for="contact-form-mail") Votre adresse mail
        input(type="email" id="contact-form-mail" name="mail" placeholder="Votre adresse mail")
        
        label(class="visually-hidden" for="contact-form-tel") Votre numero de telephone
        input(type="tel" id="contact-form-tel" name="tel" placeholder="Votre numero de telephone")
        
        label(class="visually-hidden" for="contact-form-company") Votre etablissement
        input(type="text" id="contact-form-company" name="company" placeholder="Votre etablissement")
        
        button(class="form__submit" type="submit") Envoyer

        input(class="form__privacy-checkbox visually-hidden" type="checkbox" id="contact-privacy" name="data-processing" checked)
        label(class="form__privacy" for="contact-privacy") En cliquant sur “visionner la video” je suis d’accord pour tout ce qui est utilisation de mes donnees, etcetera et etecetera. Je suis absolument d’accord avec Pearson sur tout et pour toujours.
      button(class="form__close" type="button" aria-label="close window")

div(class="form form--video form--close")
  div(class="form__wrap-center")
    div(class="form__wrap")
      h2(class="form__title") Laissez vos coordonnées
      p(class="form__desc") Et accéder à la vidéo de démonstration du FastTrack eBook
      form(class="form__form" action="POST" autocomplete="off")
        label(class="visually-hidden" for="video-form-name") Votre Nom
        input(class="invalid" type="text" id="video-form-name" name="name" placeholder="Votre Nom")
        
        label(class="visually-hidden" for="video-form-surname") Votre Prénom
        input(type="text" id="video-form-surname" name="surname" placeholder="Votre Prénom")
        
        label(class="visually-hidden" for="video-form-mail") Votre adresse mail
        input(type="email" id="video-form-mail" name="mail" placeholder="Votre adresse mail")
        
        label(class="visually-hidden" for="video-form-tel") Votre numero de telephone
        input(type="tel" id="video-form-tel" name="tel" placeholder="Votre numero de telephone")
        
        label(class="visually-hidden" for="video-form-company") Votre etablissement
        input(type="text" id="video-form-company" name="company" placeholder="Votre etablissement")
        
        button(class="form__submit" type="submit") Visionner la video

        input(class="form__privacy-checkbox visually-hidden" type="checkbox" id="video-privacy" name="data-processing" checked)
        label(class="form__privacy" for="video-privacy") En cliquant sur “visionner la video” je suis d’accord pour tout ce qui est utilisation de mes donnees, etcetera et etecetera. Je suis absolument d’accord avec Pearson sur tout et pour toujours.
      button(class="form__close" type="button" aria-label="close window")