header
  .header
    nav(class="header__main-nav main-nav main-nav--close")
      div(class="main-nav__bookmark")
        ul
          li
            a(href="content.html") Enseignement superieur
          li
            a(href="#") Anglais langue etrangere
        address
          a(href="tel:+33 (0) 1 23 32 12 23") +33 (0) 1 23 32 12 23
      div(class="main-nav__main-nav")
        a(href="index.html")
          img(src="img/pearson-logo.png" width="159" alt="Pearson logo")
        ul
          li
            a(href="#") L’offre
          li
            a(href="#") Aide & Service client
          li
            a(href="#") A propos
        button(type="button") Nous contacter
        button(class="main-nav__burger" type="button" aria-label="close or open menu")