header
  .header
    nav(class="header__main-nav main-nav main-nav--close")
      div(class="main-nav__bookmark")
        ul
          li(class="active")
            a(href="content.html") Enseignement superieur
          li
            a(href="#") Anglais langue etrangere
        address
          a(href="tel:+33 (0) 1 23 32 12 23") +33 (0) 1 23 32 12 23
      div(class="main-nav__wrap")
        a(class="main-nav__logo" href="index.html")
            img(src="img/pearson-logo.png" width="159" alt="Pearson logo")
        button(class="main-nav__burger" type="button" aria-label="open menu")
      div(class="main-nav__wrap-popup")
        div(class="main-nav__main-nav")
          ul
            li
              a(href="#") L’offre
            li
              a(href="#") Aide & Service client
            li
              a(href="#") A propos
          button(type="button") Nous contacter
          button(class="main-nav__close" type="button" aria-label="close menu")