header
  .header
    nav(class="main-nav main-nav--close")
      div
        ul
          li
            a(href="content.html") Enseignement superieur
          li
            a(href="#") Anglais langue etrangere
        address
          a(href="tel:+33 (0) 1 23 32 12 23") +33 (0) 1 23 32 12 23
      div
        a(href="#")
          img(src="img/pearson-logo.svg" alt="Pearson logo")
        ul
          li
            a(href="#") L’offre
          li
            a(href="#") Aide & Service client
          li
            a(href="#") A propos
          li(class="active")
            a(href="#")
        button(type="button")
    button(type="button") Nous contacter