div(class="landing-promo__wrap landing-promo__wrap--landing")
  img(src="img/landing-bg.png", alt="home-hover")
  div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
  h1(class="landing-promo__title") Fast Track eBooks
  p(class="landing-promo__desc") Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
  div(class="landing-promo__wrap-buttons")
    a(class="landing-promo__btn landing-promo__btn--blue landing-promo__btn--form-1" href="#important") Aller plus loin
    button(class="landing-promo__btn landing-promo__btn--green landing-promo__btn--video" type="button") Voir la demo
div(class="landing-promo__wrap landing-promo__wrap--homo")
  img(src="img/home-bg.png", alt="home-hover")
  h2(class="landing-promo__title") Trouvons ensemble la #[em(class="landing-promo__highlight") solution] parfaite pour vous
  div(class="landing-promo__wrap-buttons")
    button(class="landing-promo__btn landing-promo__btn--blue landing-promo__btn--form-2" type="button") Contactez-nous
    a(class="landing-promo__btn landing-promo__btn--green" href="#content-slider") Aller plus loin
div(class="landing-promo__wheel wheel-promo wheel-promo--superieur")
  ul(class="wheel-promo__list")
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=superieur") Simulations
        img(src="img/icon-landing-simulations.svg", alt="Simulations")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=superieur") Les Apps
        img(src="img/icon-landing-apps.svg", alt="Les Apps")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=superieur") FastTrack eBooks
        img(src="img/icon-landing-ebooks.svg", alt="FastTrack eBooks")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=superieur") Sur Mesure
        img(src="img/icon-landing-mesure.svg", alt="Sur Mesure")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=superieur") Librairie Pearson
        img(src="img/icon-landing-librairie.svg", alt="Librairie Pearson")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item active")
      a(class="wheel-promo__link" href="landing.html?wheel=superieur") MyLabs
        img(src="img/icon-landing-labs.svg", alt="MyLabs")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
div(class="landing-promo__wheel wheel-promo wheel-promo--etrangere")
  ul(class="wheel-promo__list")
    li(class="wheel-promo__item")
        a(class="wheel-promo__link" href="landing.html?wheel=etrangere") Les Apps
          img(src="img/icon-landing-ebooks.svg", alt="Les Apps")
        div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=etrangere") Sur Mesure
        img(src="img/icon-landing-mesure.svg", alt="Sur Mesure")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
        a(class="wheel-promo__link" href="landing.html?wheel=etrangere") Les Apps
          img(src="img/icon-landing-apps.svg", alt="Les Apps")
        div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=etrangere") Sur Mesure
        img(src="img/icon-landing-labs.svg", alt="Sur Mesure")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=etrangere") MyLabs
        img(src="img/icon-landing-librairie.svg", alt="MyLabs")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=etrangere") Simulations
        img(src="img/icon-landing-simulations.svg", alt="Simulations")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=etrangere") New landing
        img(src="img/icon-landing-labs.svg", alt="New landing")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html?wheel=etrangere") New landing
        img(src="img/icon-landing-simulations.svg", alt="New landing 2")
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
