p(class="landing-promo__message") Réviser un chapitre en 45 minutes !
div(class="landing-promo__wrap-landing")
  h1 Fast Track eBooks
  p Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
  div(class="landing-promo__wrap-buttons")
    a(href="#") Aller plus loin
    button(type="button") Voir la demo
div(class="landing-promo__wrap-homo")
  h2 Trouvons ensemble la #[em solution] parfaite pour vous
  button(type="button") Contactez-nous
  button(type="button") Voir une demo
ul(class="landing-promo__wheel")
  li
    a(href="landing.html") FastTrack eBooks
  li
    a(href="landing.html") Simulations
  li
    a(href="landing.html") Librairie Pearson
  li
    a(href="landing.html") Les Apps
  li
    a(href="landing.html") Sur Mesure
  li
    a(href="landing.html") MyLabs

