div(class="landing-promo__wrap-landing")
  h1 Fast Track eBooks
  p Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
  div(class="landing-promo__wrap-buttons")
    a(href="#") Aller plus loin
    button(type="button") Voir la demo
div(class="landing-promo__wrap-homo")
  h2 Trouvons ensemble la #[em solution] parfaite pour vous
  div(class="landing-promo__wrap-buttons")
    button(type="button") Contactez-nous
    a(href="#") Aller plus loin
ul(class="landing-promo__wheel wheel-promo")
  li(class="wheel-promo__item")
    a(href="landing.html") Simulations
    div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
  li(class="wheel-promo__item")
    a(href="landing.html") Les Apps
    div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
  li(class="wheel-promo__item")
    a(href="landing.html") FastTrack eBooks
    div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
  li(class="wheel-promo__item")
    a(href="landing.html") Sur Mesure
    div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
  li(class="wheel-promo__item")
    a(href="landing.html") Librairie Pearson
    div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
  li(class="wheel-promo__item")
    a(href="landing.html") MyLabs
    div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !

