h2 Nos titres en FastTrack
div(class="product__wrap")
  button(class="product__arrow product__arrow--left")
  ul
    li
      img(src="img/landing/product-marketing.png" width="185" alt="product-test")
      a(href="#") Acheter
      span Bientot disponible
    li
      img(src="img/landing/product-principes.png" width="185" alt="product-test")
      a(href="#") Acheter
      span Bientot disponible
    li
      img(src="img/landing/product-management.png" width="185" alt="product-test")
      a(href="#") Acheter
      span Bientot disponible
    li
      img(src="img/landing/product-strategique.png" width="185" alt="product-test")
      a(href="#") Acheter
      span Bientot disponible
  button(class="product__arrow product__arrow--right")