h2 Nos titres en FastTrack
div(class="product__wrap")
  button(class="product__arrow product__arrow--left")
  ul(class="product__list")
    li(class="product__item")
      img(src="img/landing/product-marketing.png" width="185" alt="product-test")
      a(class="product__available" href="#") Acheter
      span(class="product__inavailable") Bientot disponible
    li(class="product__item")
      img(src="img/landing/product-principes.png" width="185" alt="product-test")
      a(class="product__available" href="#") Acheter
      span(class="product__inavailable") Bientot disponible
    li(class="product__item")
      img(src="img/landing/product-management.png" width="185" alt="product-test")
      a(class="product__available" href="#") Acheter
      span(class="product__inavailable") Bientot disponible
    li(class="product__item")
      img(src="img/landing/product-strategique.png" width="185" alt="product-test")
      a(class="product__available" href="#") Acheter
      span(class="product__inavailable") Bientot disponible
  button(class="product__arrow product__arrow--right")