h2(class="visually-hidden" ) matériel clé sur le sujet
div(class="promo-slider__slider" )
  button(class="promo-slider__arrow promo-slider__arrow--left" type="button")
  ul
    li
      figure
        img(src="img/landing/temp-slider-promo.png" alt="slider-test")
    li
      figure
        img(src="img/landing/temp-slider-promo.png" alt="slider-test")
    li
      figure
        img(src="img/landing/temp-slider-promo.png" alt="slider-test")
  button(class="promo-slider__arrow promo-slider__arrow--right" type="button")
div(class="promo-slider__desc" )
  ul(class="promo-slider__desc-list" )
    li(class="promo-slider__desc-item" )
      h3 Point 1
      p Paragraphe. Texte intégral de l'ouvrage toujours disponible surParagraphe. Texte intégral de l'ouvrage toujours disponible sur
    li(class="promo-slider__desc-item")
      h3 Point 2
      p Paragraphe. Texte intégral de l'ouvrage toujours disponible surParagraphe. Texte intégral de l'ouvrage toujours disponible sur
    li(class="promo-slider__desc-item")
      h3 Point 3
      p Paragraphe. Texte intégral de l'ouvrage toujours disponible surParagraphe. Texte intégral de l'ouvrage toujours disponible sur