div(class="provoke__external")
  p(class="provoke__text") A call-to-action block. Click me now:
  a(class="provoke__link" href="#") External link
div(class="provoke__video")
  p(class="provoke__text") Découvrez plus de détail avec notre vidéo de démonstration
  button(class="provoke__link" type="button") Voir la demo
div(class="provoke__contact")
  p(class="provoke__text") Découvrez notre offre maintenant
  button(class="provoke__link" type="button") Contactez-nous